[Unit]
Description = start minecraft supervisor
After = network.target

[Service]
ExecStart = /home/minecraft/mc_on_aws/start_supervisor.sh

[Install]
WantedBy = multi-user.target