Unit]
Description = minecraft service

[Service]
Type = simple
WorkingDirectory = /opt/minecraft/server/
ExecStart = /usr/bin/java -Xmx7168M -Xms3072M -jar /opt/minecraft/server/server.jar nogui
User = ec2-user
Restart = on-failure
Sockets = minecraft.socket
StandardInput = socket
StandardOutput = journal
StandardError = journal

[Install]
WantedBy = multi-user.target